@import "tailwindcss";

@font-face {
  font-family: "Palatino Linotype";
  src: url("/palatinolinotype_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("/palatinolinotype_italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("/palatinolinotype_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("/palatinolinotype_bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT America";
  src: url("/GT-America-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT America";
  src: url("/GT-America-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT America";
  src: url("/GT-America-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/Sohne-Buch.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/Sohne-BuchKursiv.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --background: #fffcf9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sohne", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.8;
  letter-spacing: 0.01em;
}

.font-lexend {
  font-family: "Lexend", "Segoe UI", "San Francisco", Verdana, sans-serif;
}
